[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {path = "./main", editable = true}

[dev-packages]
"testfixtures" = "*"
black = "*"
"flake8" = "*"
colorama = "*"
gunicorn = "*"
pipdeptree = "*"
pytest = '*'
pytest-cov = '*'
pytest-mock = '*'
pytest-custom-exit-code = '*'

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
